<html>
    <head>
        <title>Blog da Milena choquinha</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog da Milena choquinha</a></h1>
        </div>

        <div>
            <p>publicado: 03.09.2020, 19:57</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Era uma vez uma cumade chamada Milena. Ela me pediu pra fazer um blog pika e eu fiz</p>
        </div>

        <div>
            <p>publicado: 03.09.2020, 19:58</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Cadê meus 100 conto????</p>
        </div>
    </body>
</html>