<html>
    <head>
        <title>Vo dizer é</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Vo dizer é</a></h1>
        </div>

        <div>
            <p>publicado: 03.09.2020, 19:57</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>sobrinho é muito é gay e gosta de dar o furiquinho gostoso</p>
        </div>

        <div>
            <p>publicado: 03.09.2020, 19:58</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>BORA ZÉ</p>
        </div>
    </body>
</html>